body {
    background-color: rgba(0, 0, 0, 0.951);

color: rgb(23, 135, 59);
font-family: "Dancing Script", serif;
font-weight: bolder;
}

body {
    margin: 0px;
}
main{
    margin-right: 20px;
}
h1{
    text-align: center;
}


.light{
    color: rgb(51, 121, 240);
    text-shadow:1px 1px 10px rgb(3, 24, 255), 1px 1px 10px rgb(0, 8, 251);}

.sblue{
   color: rgb(51, 121, 240);
    text-shadow:1px 1px 10px rgb(4, 54, 255), 1px 1px 10px rgb(0, 8, 255)
}



.navbar ul{
    list-style-type: none;
    background-color: #000000;
    padding: 0px;
    margin: -9px;
    overflow: hidden;
}
.navbar a{
    color: rgb(0, 102, 255);
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(98, 12, 236);
}
.navbar li{
    float: left;
}
.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  
.navbar a:hover {
    background-color: rgb(4, 222, 145);
    color: black;
  }
.navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

.Projects {
    display: flex
}
.Projects :nth-child{
flex-direction: row-reverse;
}
.Projects img{
    border-radius: 24px;
}
.Projects h3{
    text-align: center;
}

@media screen and (max-width: 480px) {

}
  
.nav {
    flex-direction: column; 
  }

  .vb {
    color: rgb(255, 255, 255);
  }
  .soho {
    color: rgb(136, 0, 255);
  }
  
  .sf {
    color: rgb(4, 113, 99);
  }

  .doc {
    color: rgb(5, 255, 201);
  }
.JRM {
color: rgb(144, 13, 13);

}
.qs {
  color:rgb(85, 0, 255) 
}
